/* 全体 wrapper ではなく content に直接高さ・幅指定 */
.form__content {
    width: 100%;
    max-width: 1515px;
    height: 982px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__heading {
    text-align: center;
    margin-bottom: 30px;
}

.form__heading h2 {
    font-size: 36px;
}

.form__group {
    width: 100%;
    margin-bottom: 20px;
}

.form__group-title {
    margin-bottom: 5px;
}

.form__label {
    font-weight: bold;
    font-size: 24px;
}

.form__input--text input {
    width: 680px;
    height: 59px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 18px;
    padding: 0 10px;
    box-sizing: border-box;
}

.form__button {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.form__button-submit {
    width: 100%;
    height: 65px;
    font-size: 26px;
    font-weight: bold;
    background-color: #FF5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login__link {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__button-submit {
    text-decoration: none;
    font-size: 20px;
    color: #0073CC;
}

.form__error {
    color: red;
    margin-top: 5px;
    font-size: 16px;
}