.top-box {
    margin-top: 40px;
    padding: 0 80px;
    border-bottom: 2px solid #5F5F5F;
}

.top-box__nav {
    display: flex;
    gap: 20px;
}

.btn-box {
    width: 155px;
    height: 40px;
    text-align: right;
}

.btn-box a {
    text-decoration: none;
    font-size: 24px;
    color: #5F5F5F;
}

/* 現在のタブを赤く表示 */
.btn-box a.active {
    color: red;
    font-weight: bold;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 50px;
    margin: 80px auto 0;
    max-width: 1400px;
    justify-items: center;
    padding: 0 20px;
}

.product-card {
    text-align: center;
    border-radius: 4px;
}

.product-img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.product-detail {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
    margin-top: 8px;
}

.product-detail p {
    font-size: 25px;
    margin: 0;
}

.sold-label {
    font-size: 25px;
    color: red;
}

/* 1400〜1540pxでも崩れないように微調整 */
@media screen and (max-width: 1540px) {
    .product-list {
        gap: 70px 50px;
    }
}

@media screen and (max-width: 1400px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 40px;
    }
}